h1 {
    font-family: courier;
    helvetica;
    times;
    "times new roman";
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: cyan;
}

div h2 {
    width: 20%;
    float: left;
    font-family: courier;
    helvetica;
    times;
    "times new roman";
}

div h3 {
    width: 25%;
    float: left;
    font-family: courier;
    helvetica;
    times;
    "times new roman";
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

body.home {
    background-image: url("./pics/snowboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

body.career {
    background-image: url("./pics/linkpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

body.interests {
    background-image: url("./pics/balloon.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

body.about {
    background-image: url("./pics/MeKid.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;

}

.miniBio {
    color: white;
}

   